<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="/mcss/userview.css">
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile" style="margin-top: 10rem;">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="/productsimage/{{data._id}}.jpg" 
                        alt="product image" />
                    {{!-- <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file" />
                    </div> --}}
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        {{data.productName}}
                    </h5>
                    <h6>
                        {{data.price}}
                    </h6>
                    {{!-- <p class="proile-rating">RANKINGS : <span>8/10</span></p> --}}
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            {{!-- <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">About</a> --}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a href="/admin/editproduct/{{data._id}}" class="btn btn-dark">edit
                    profile</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>product Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{data.productName}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>price</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{data.price}} $</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>color</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{data.color}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>brand</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{data.brand}}</p>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-md-6">
                                <label>type</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{data.category.categoryname}}</p>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-md-6">
                                <label>quantity</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{data.quantity}}</p>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-md-6">
                                <label>about</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{data.about}}</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



{{!-- edit user modal --}}


<!-- Button trigger modal -->


<!-- Modal -->
{{!-- <div class="modal fade" id="edituserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">edit product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

 

      </div>
      
    </div>
  </div>
</div>
<script>
    function viewimage(event) {
       document.getElementById('imgview1').src=URL.createObjectURL(event.target.files[0])
    }
     function viewimage(event) {
       document.getElementById('imgview2').src=URL.createObjectURL(event.target.files[0])
    }
</script> --}}