<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="/"><h3>adidas</h3></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
							{{!-- <li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Shop</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="/category">Shop Category</a></li>
									<li class="nav-item"><a class="nav-link" href="#">Product Details</a></li>
									<li class="nav-item"><a class="nav-link" href="#">Product Checkout</a></li>
									<li class="nav-item"><a class="nav-link" href="#">Shopping Cart</a></li>
									<li class="nav-item"><a class="nav-link" href="#">Confirmation</a></li>
								</ul>
							</li> --}}
                            <li class="nav-item"><a class="nav-link" href="/category">product</a></li>
							{{!-- <li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Blog</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
									<li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
								</ul>
							</li> --}}
							<li class="nav-item"><a href="/wishlist" class="nav-link"><span class="bi bi-bag-heart"></span>favorite <span id="wishlist"style="color:grey;"> 0</span></a></li>
							<li class="nav-item"><a href="/cart" class="nav-link"><span class="ti-bag"></span>cart <span id="cart"style="color:grey"> 0</span></a></li>
							<li class="nav-item"><a href="/orderdetails" class="nav-link"><span></span>order <span id="order" style="color:grey"> 0</span></a></li>
							<li class="nav-item submenu dropdown">
								<a href="/userprofile" class="nav-link " data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">
                                 
                                 {{#if users}}
                                 hi {{users.fname}}
                                 {{else}}
                                 Account
                                 {{/if}}
                                 </a>
								<ul class="dropdown-menu">
                                    {{#if users}}
									<li class="nav-item"><a href="/userprofile" class="nav-link" >profile</a></li>
                                    {{else}}
                                	<li class="nav-item"><a class="nav-link" href="/login">profile</a></li>
                                    {{/if}}
                                    {{#if users}}
									<li class="nav-item"><a class="nav-link" href="/logout">logout</a></li>
                                    {{else}}
                            		<li class="nav-item"><a class="nav-link" href="/login">login</a></li>
                                    {{/if}}
								</ul>
							</li>
								
						</ul>
						<ul class="nav navbar-nav navbar-right">
							
							{{!-- <li class="nav-item"><a href="#" class="nav-link"><span class="bi bi-bag-heart"></span></a></li>
							<li class="nav-item"><a href="#" class="nav-link"><span class="bi bi-bag-heart"></span></a></li>
							<li class="nav-item"><a href="/cart" class="nav-link"><span class="ti-bag"></span></a></li> --}}
							<li class="nav-item">
								<button class="search"><span class="" id="search">.</span></button>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		{{!-- <div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div> --}}
	</header>



{{!-- profile modal --}}




<!-- Modal -->
{{!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container d-flex justify-content-center">
    <div class="card p-3 py-4">
        <div class="text-center"> 
		<img src="https://i.imgur.com/stD0Q19.jpg" width="100" class="rounded-circle">
            <h3 class="mt-2">{{users.fname}}</h3>
			<span class="mt-1 clearfix">{{users.fname}} {{users.lname}}</span>
			
			<div class="row mt-3 mb-3">
			
			  <div class="col-md-4">
				<h5>cart</h5>
				<span id="carts" class="num">0</span>
			  </div>
			  <div class="col-md-4">
			  <h5>whishlist</h5>
				<span id="whishlists" class="num">0</span>
			  </div>
			  <div class="col-md-4">
			  <h5>orders</h5>
				<span id="orders" class="num">0</span>
			  </div>
			
			</div>
			
			<hr class="line">
			
			<small class="mt-4">I am an android developer working at google Inc at california,USA</small>
              <div class="social-buttons mt-5"> 
			   <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button> 
			   <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button> 
			   <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button> 
			   <button class="neo-button"><i class="fa fa-youtube fa-1x"></i> </button>
			   <button class="neo-button"><i class="fa fa-twitter fa-1x"></i> </button>
			  </div>
			  
			 <div class="profile mt-5">
			 
			 <button class="profile_button px-4"><a href="/userprofile">view profile</a></button>
             <button class="profile_button px-3" data-dismiss="modal">close</button>

		</div>
			   
        </div>
    </div>
</div>
      </div>
    </div>
  </div>
</div> --}}

<script>
	document.addEventListener('DOMContentLoaded',cartCount)
	function cartCount(){
		axios.get('/alldetails').then((e)=>{
			console.log(e)
			console.log(e.data.details.totalcart.product.length)
			document.getElementById('wishlist').innerHTML=e.data.details.totalwishlist.product.length
			document.getElementById('cart').innerHTML=e.data.details.totalcart.product.length
			document.getElementById('order').innerHTML=e.data.details.totalorders.length
			

		})
	}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="/stylesheets/modal.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">