<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="/mcss/userview.css">
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile" style="margin-top: 10rem;">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                        alt="" />
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        {{users.fname}}
                    </h5>
                    {{!-- <h6>
                        Web Developer and Designer
                    </h6> --}}
                    <p class="proile-rating">TOTAL ORDERS : <span> {{ totalorders.length}}</span></p>
                    <p class="proile-rating">ITEMS IN CART : <span>{{totalcart.product.length}}</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">About</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <a href="#" class="btn btn-dark" name="btnAddMore" data-toggle="modal" data-target="#edituserModal">Update details</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{users.fname}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{users.email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Date Of Birth</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{dateof users.dateofbirth}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Gender</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{users.gender}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{users.mobilenumber}}</p>
                            </div>
                        </div>
                        <div class="row">
                            {{#each address}}
                            <div class="col-md-6">
                                <label>Shipping Address</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{this.house }}<br>{{this.street}}<br>{{this.city}}<br>{{this.state}}<br>{{this.pincode}}</p>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



{{!-- edit user modal --}}


<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="edituserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="container">
                    <div class="row">
                        <form class="col-10 mx-auto mt-5" action="/editprofile" method="post">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">First Name</label>
                                    <input value="{{users.fname}}" type="text" class="form-control" name="fname"
                                        id="inputName" placeholder="name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Last Name</label>
                                    <input value="{{users.lname}}" type="text" class="form-control" name="lname"
                                        id="inputName" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="gender">Gender</label>
                                <div class="row">
                                    <div class="col-md-3">
                                        <input value="male" type="radio" class="form-control" name="gender" id="gender"
                                            checked>
                                        <label for="gender">Male</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input value="female" type="radio" class="form-control" name="gender"
                                            id="inputAddress">
                                        <label for="gender">Female</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputCity">Date Of Birth</label>
                                    <div class="row">
                                        <div class="col md-2">
                                            <input value="{{dateofbirth}}" type="date" class="form-control"
                                                name="dateofbirth" id="" placeholder="date">
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group col-md-5">
                                    <label for="inputState">phone</label>
                                    <input value="{{users.mobilenumber}}" type="text" class="form-control"
                                        name="mobilenumber" id="inputCity" placeholder="mobilenumber">
                                </div>
                                {{!-- <div class="form-group col-md-4">
                                    <label for="inputZip">pincode</label>
                                    <input value="{{users.pincode}}" type="text" class="form-control" name="pincode"
                                        id="inputZip" placeholder="pincode">
                                    <input value="{{users._id}}" class="invisible" name="_Id" type="text">
                                </div> --}}
                            </div>
                            <button type="submit" class="btn btn-primary mt-1">save</button>
                            <button type="button" class="btn btn-primary mt-1" data-dismiss="modal">Close</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>